$font: 'Poppins', sans-serif;
$p: 1.5rem;
$p-input: .6rem;
$m: 1.5rem;
$primary: #1877f2;
$secondary: #1877f2aa;
$success: #42b72a;
$body-bg: #fff; // #f0f2f5;

$shadow: 0 6px 12px rgba(140,152,164,.075);
$shadow-sm: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
$dropdown-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
$border: .0625rem solid rgba(231,234,243,.7);
$radius: .75rem;

// neumorphism
$border-radius: 50px;
$background: #eeeeee;
$shadowActive: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001 !important;
$shadowInactive: 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001,
    0px 0px 0px 0px #0001,
    inset -7px -7px 20px 0px #fff9,
    inset -4px -4px 5px 0px #fff9,
    inset 7px 7px 20px 0px #0003,
    inset 4px 4px 5px 0px #0001 !important;

// glass morphism
$shadowGlass: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
$backgroundGlass: rgba(255, 255, 255, 0.5);