$font: 'Poppins', sans-serif;
$p: 1.5rem;
$p-input: .8rem;
$m: 1.5rem;
$primary: #1877f2;
$secondary: #1877f2aa;
$success: #42b72a;

$shadow: 0 6px 12px rgba(140,152,164,.075);
$shadow-sm: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
$dropdown-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
$border: .0625rem solid rgba(231,234,243,.7);
$radius: .75rem;