* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .container {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .container .container-content {
  background-color: transparent;
  max-width: 100%;
}

body .container .container-content .auth-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

body .container .container-content .auth-side .logo-brand {
  text-align: center;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

body .container .container-content .auth-side .logo-brand h4 {
  color: #333;
  letter-spacing: .4px;
  padding: 0 1.5rem;
  font-weight: 500;
}

body .container .container-content .auth-side .logo-brand .brand {
  color: #1877f2 !important;
}

body .container .container-content .auth-side .login-form .input-group {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: grow_right;
          animation-name: grow_right;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

body .container .container-content .auth-side .login-form .input-group label {
  font-size: .9em;
  margin-bottom: 5px;
  color: #777;
}

body .container .container-content .auth-side .login-form .input-group .form-control {
  font-family: "Poppins", sans-serif;
  padding: 0.6rem;
  font-size: 1em;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .container .container-content .auth-side .login-form .input-group .form-control:focus-within {
  border: 1px solid #1877f28c;
  -webkit-box-shadow: 0px 0px 10px #1877f28c;
          box-shadow: 0px 0px 10px #1877f28c;
}

body .container .container-content .auth-side .login-form .input-group .invalid-feedback {
  margin-top: 3px;
  color: red;
  font-size: .9em;
}

body .container .container-content .auth-side .login-form .input-group .btn-login {
  background-color: #1877f2;
  -webkit-animation-name: grow_right;
          animation-name: grow_right;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

body .container .container-content .auth-side .login-form .input-group .btn-login:hover {
  background-color: #1877f2aa;
}

body .container .container-content .auth-side .login-form .input-group .btn-login:active {
  background-color: #1877f2;
  -webkit-box-shadow: 0px 0px 10px #1877f2;
          box-shadow: 0px 0px 10px #1877f2;
}

body .container .container-content .auth-side .login-form .input-group .btn-create {
  background-color: #42b72a;
  -webkit-animation-name: grow_right;
          animation-name: grow_right;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

body .container .container-content .auth-side .login-form .input-group .btn-create:hover {
  background-color: #42b72a8c;
}

body .container .container-content .auth-side .login-form .input-group .btn-create:active {
  background-color: #42b72a;
  -webkit-box-shadow: 0px 0px 10px #42b72a;
          box-shadow: 0px 0px 10px #42b72a;
}

body .container .container-content .auth-side .login-form .input-group .btn-login, body .container .container-content .auth-side .login-form .input-group .btn-create {
  padding: 0.6rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .container .container-content .auth-side .login-form .input-group:last-child {
  margin-bottom: 0;
}

body .container .container-content .auth-side .login-form .forgot-password {
  text-align: left;
  margin-bottom: 1.5rem;
  -webkit-animation-name: grow_right;
          animation-name: grow_right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

body .container .container-content .auth-side .login-form .forgot-password a {
  text-decoration: none;
  font-size: .9em;
  color: #1877f2;
}

body .container .container-content .auth-side .login-form .forgot-password a:hover {
  text-decoration: underline;
}

body .container .container-content .auth-side .login-form .divider {
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

body .container .container-content .auth-side .bottom-text {
  font-size: .9em;
  padding: 1.5rem;
  text-align: center;
}

body .container .container-content .auth-side .bottom-text .btn-create-page {
  text-decoration: none;
  font-weight: 600;
  color: #1877f2;
}

body .container .container-content .auth-side .bottom-text .btn-create-page:hover {
  text-decoration: underline;
}

body .container .hidden {
  display: none !important;
}

body .container .invalid {
  border: 1px solid red !important;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes grow_right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: .3;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes grow_right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: .3;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=simple.css.map */