@import 'variables';

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $font !important;
    transition: all .4s ease;

    .container{
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #f0f2f5;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
        .container-content{
            background-color: transparent;
            max-width: 100%;
    
            .auth-side{
                display: flex;
                flex-direction: column;
                padding: $p;

                .logo-brand{
                    text-align: center;
                    animation-name: grow;
                    animation-duration: 1.2s;

                    h4{
                        color: #333;
                        letter-spacing: .4px;
                        padding: 0 $p;
                        font-weight: 500;
                    }
    
                    .brand{
                        color: $primary !important;
                    }
                }

                .login-form{
                    // padding: 0 $p;

                    .input-group{
                        margin-bottom: $m;                        
                        display: flex;
                        flex-direction: column;
                        animation-name: grow_right;
                        animation-duration: 1.4s;
        
                        .form-control{
                            font-family: $font;
                            padding: $p-input;
                            font-size: 1em;
                            border: 1px solid #ddd;
                            outline: none;
                            border-radius: 5px;
                            transition: all .4s ease;

                            &:focus-within{
                                border: 1px solid #1877f28c;
                                box-shadow: 0px 0px 10px #1877f28c;
                            }
                        }

                        .invalid-feedback{
                            margin-top: 3px;
                            color: red;
                            font-size: .9em;
                        }

                        .btn-login{
                            background-color: $primary;
                            animation-name: grow_right;
                            animation-duration: 1.6s;

                            &:hover{
                                background-color: $secondary;
                            }
    
                            &:active{
                                background-color: $primary;
                                box-shadow: 0px 0px 10px $primary;
                            }
                        }

                        .btn-create{
                            background-color: $success;
                            animation-name: grow_right;
                            animation-duration: 1.7s;

                            &:hover{
                                background-color: #42b72a8c;
                            }

                            &:active{
                                background-color: $success;
                                box-shadow: 0px 0px 10px $success;
                            }
                        }

                        .btn-login, .btn-create{
                            padding: $p-input;
                            border: none;
                            outline: none;
                            color: #fff;
                            border-radius: 5px;
                            font-family: $font;
                            font-size: 1em;
                            cursor: pointer;
                            transition: all .4s ease;
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }       
                    
                    .forgot-password{
                        text-align: left;
                        margin-bottom: $m;
                        animation-name: grow_right;
                        animation-duration: 1.5s;

                        a{
                            text-decoration: none;
                            font-size: .9em;
                            color: $primary;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    .divider{
                        border: 1px solid #eee;
                        display: flex;
                        margin-bottom: $m;
                    }
                }

                .bottom-text{
                    font-size: .9em;
                    padding: $p;
                    text-align: center;

                    .btn-create-page{
                        text-decoration: none;
                        font-weight: 600;
                        color: $primary;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .hidden{
            display: none !important;
        }

        .invalid{
            border: 1px solid red !important;
        }
    }
}

@keyframes grow{
    from{
        transform: translateX(-100%);
        opacity: 0.3; 
    }

    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes grow_right{
    from{
        transform: translateX(100%);
        opacity: .3;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}