@import 'variables';

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $font !important;
    transition: all .4s ease;

    .feather{
        width: 18px;
        height: 18px;
    }

    .container{
        background-color: $body-bg;

        .container-content{

            .header{
                padding: $p;
                text-align: center;

                h2{
                    font-weight: 600;
                    color: #333;
                }
            }

            .preview-container{
                padding: $p;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-row-gap: 30px;

                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card-image-preview{
                        margin-bottom: 20px;
                        overflow: hidden;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
                        border-radius: 15px;
                        transition: all .8s ease;

                        img{
                            width: 400px;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:hover{
                            transform: translateY(-3%);
                            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);

                            img{
                                opacity: .8;
                            }
                        }
                    }

                    .card-details{
                        text-align: center;
                    }
                }
            }
        }
    }

    footer{
        text-align: center;
        color: #888;
        font-size: .9em;
    }
}